:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--accent-color);
}

.logo-secondary {
  color: #000000;
}

.nav-list {
  list-style-type: none;
}

.navigation {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
}

.contacts {
  list-style-type: none;
}

.contact-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* Main */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  /* temporary */
  background-color: navy;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);

  cursor: pointer;
}

.details {
  list-style-type: none;
}

.details-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.details-desc {
  color: var(--text-color);
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-desc-list {
  list-style-type: none;
}

.employee-list {
  list-style-type: none;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}

.logo-alternative {
  color: #fff;
}

.address {
  color: #fff;
  font-style: normal;
  /* temporary */
  background-color: navy;
}

.footer-contacts {
  list-style-type: none;
}

.footer-contact {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  /* temporary */
  background-color: black;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
